@page "/counter"
@using Rise.Client.Components
<Page>
    <Title>Counter</Title>
    <Actions>
        <button class="button mt-2" @onclick="IncrementCount">Click me</button>
    </Actions>
    <Body>
    <p role="status">Current count: @currentCount</p>

    </Body>
</Page>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
        Log.Information("Current count {@Count}",currentCount);
    }
}
